@page "/todo"
@using BlazorBeginners.Data

<h1>Todo</h1>

<ul>
    @foreach (TodoItem Todo in Todos)
    {
        <li>@Todo.Name @Todo.DueDate</li>
    }
</ul>

<input @bind="NewTodoName" @bind:event="oninput" type="text" placeholder="New Todo Name" />
<input @bind="NewDueDate" type="date" placeholder="Due Date" />
<button @onclick="Save">Save</button>

@if (NewTodoName != null)
{
    <p>@NewTodoName - Due: @NewDueDate</p> 
}

@code {
    private List<TodoItem> Todos = new();
    private string NewTodoName = string.Empty;
    private DateTime? NewDueDate = null;

    private void Save()
    {
        if (string.IsNullOrEmpty(NewTodoName)) return;

        if (NewDueDate == null)
        {
            Todos.Add(new TodoItem
            {
                Name = NewTodoName
            });
        }
        else
        {
            Todos.Add(new TodoItem
            {
                Name = NewTodoName,
                DueDate = NewDueDate
            });
        }

        NewTodoName = string.Empty;

    }
}
