@page "/todo"
@using BlazorBeginners.Data

<h1>Todo</h1>

<ul>
    @foreach (TodoItem Todo in Todos)
    {
        <li>@Todo.Name @Todo.DueDate @Todo.DueTime</li>
    }
</ul>

<input @bind="NewTodoName" @bind:event="oninput" type="text" placeholder="New Todo Name" />
<input @bind="NewDueDate" @bind:event="oninput" type="date" placeholder="Due Date" />
<input @bind="NewDueTime" @bind:event="oninput" type="time" placeholder="Due Time" />
<button @onclick="Save">Save</button>

@if (NewTodoName != string.Empty)
{
    <p>@NewTodoName - Due: @NewDueDate</p> 
}

@code {
    private List<TodoItem> Todos = new();
    private string NewTodoName = string.Empty;
    private DateOnly? NewDueDate = null;
    private TimeOnly? NewDueTime = null;

    private void Save()
    {
        if (string.IsNullOrEmpty(NewTodoName)) return;

        Todos.Add(new TodoItem
            {
                Name = NewTodoName,
                DueDate = NewDueDate,
                DueTime = NewDueTime
            });

        NewTodoName = string.Empty;
        NewDueDate = null;
        NewDueTime = null;

    }
}
